<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/SAURABH/IdeaProjects/Automation-Testing-Dummy-Projects">
        <classes>
            <class name="Dummy_3AllureReport"/>
        </classes>
    </test>
</suite>